
<tr>
    <td><%= area.codigo_area %></td>
    <td><%= area.nombre_area %></td>
    <td> <%= link_to "Ver", area_path(area.id) %></td>
    <td><%= link_to 'Eliminar', area,
        data: { 
            "turbo-method": :delete,
            controller: "confirmation",
            "confirmation-message-value": 'Are you sure?',
            action: "confirmation#confirm"
            } %>
    </td>
</tr>

